<section id="logros">
  <div class="container">

    <h2>Logros</h2>
    <div class="divisor"></div>
    <h1>Casos de éxito</h1>
  </div>

  <div class="row justify-content-between">
    <div class="col-sm">
      <img src="./assets/img/caso1.jpg" alt="Pareja 1" class="img-fluid">
    </div>
    <div class="col-sm">
      <img src="./assets/img/caso2.jpg" alt="Pareja 2" class="img-fluid">
    </div>
    <div class="col-sm">
      <img src="./assets/img/caso3.jpg" alt="Pareja 3" class="img-fluid">
    </div>
  </div>


</section>