 <section id="servicios">
   <div class="container">
     <h2>Servicios </h2>
     <div class="divisor"></div>
     <h1>Encuentra a tu pareja ideal</h1>
     <div class="row">
       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Restaurantes</h3> <i class="fas fa-arrow-right"></i>
         </div>
         <div class="pt-3"></div>

       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Bares</h3> <i class="fas fa-arrow-right"></i>
         </div>

       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Discotecas</h3> <i class="fas fa-arrow-right"></i>
         </div>

       </div>


       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Teatros</h3> <i class="fas fa-arrow-right"></i>
         </div>
         <div class="pt-3"></div>

       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Parques</h3> <i class="fas fa-arrow-right"></i>
         </div>
       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Juegos</h3> <i class="fas fa-arrow-right"></i>
         </div>
       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Museos</h3> <i class="fas fa-arrow-right"></i>
         </div>
         <div class="pt-3"></div>
       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Viajes</h3> <i class="fas fa-arrow-right"></i>
         </div>
       </div>

       <div class="col-4">
         <div class="col-12" id="caja2" data-toggle="popover" title="Servicio en Restaurantes"
           data-content="Llevamos a ti y a tu pareja seleccionada una cena romantica">
           <h3>En Línea</h3> <i class="fas fa-arrow-right"></i>
         </div>
       </div>
     </div>
   </div>



 </section>
