<div style="height: 55px;"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-barramenu sticky-top">

  <div class="container">
    <a class="navbar-brand" href="#">ALONE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto p-2">
        <li class="nav-item active">
          <a class="nav-link" href="#main-header">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#empresa">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#logros">Logros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/productos']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/noticias']">Noticias</a>
        </li>
        <li class="nav-item noUnderline">
          <i class="fas fa-search"></i>
        </li>


        <ul class="navbar-nav mr-rigth">
          <li class="nav-item active">
            <a class="nav-link" href="#bd-example-modal-xl" data-toggle="modal" data-target=".bd-example-modal-xl">
              <i class="far fa-bell" aria-hidden="true"></i><span class="badge badge-dark">3</span>
            </a>

          </li>
        </ul>
      </ul>
    </div>
  </div>

</nav>