<section id="partners">
  <div class="container">

    <h2>Partners</h2>
    <div class="divisor"></div>
    <h1>Empresas asociadas:</h1>
  </div>

  <div class="row justify-content-between">

    <div class="col-3">
    </div>
    <div class="col-1">
      <img src="./assets/img/partner/1.png" alt="Pareja 2" width="150px" class="img-fluid">
    </div>
    <div class="col-1">
      <img src="./assets/img/partner/2.png" alt="Pareja 3" width="150px" class="img-fluid">
    </div>
    <div class="col-1">
      <img src="./assets/img/partner/3.png" alt="Pareja 3" width="150px" class="img-fluid">
    </div>
    <div class="col-1">
      <img src="./assets/img/partner/4.png" alt="Pareja 3" width="150px" class="img-fluid">
    </div>
    <div class="col-3">
    </div>
  </div>


</section>
