<section id="empresa">
  <div class="container">
    <div class="row">
      <article class="col-6 align-self-center">
        <h2>Nuestra Empresa</h2>
        <div class="divisor"></div>
        <h1>Visión y Misión</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quaerat laudantium doloremque, quas illum,
          earum aliquid molestias nesciunt? Earum pariatur aspernatur, in molestias aliquam deserunt sapiente, ratione
          fuga saepe vero!</p>
      </article>
      <figure class="col-6">
        <img src="./assets/img/img2.png" alt="Nuestro Equipo" class="img-fluid" width="100%">
      </figure>
    </div>
  </div>
</section>
