<section id="personal">
  <div class="container">
    <h2>Personal</h2>
    <div class="divisor"></div>
    <h1>Profesionales Capacitados</h1>
    <div class="row no-gutters">
      <!--borrar-->
      <figure class="col-xl-3 col-lg-3 col-md-4 col-sm-6"><img src="./assets/img/fotos/foto1.jpg" alt="" class="img-fluid">
      </figure>
      <figure class="col-xl-3 col-lg-3 col-md-4 col-sm-6"><img src="./assets/img/fotos/foto2.jpg" alt="" class="img-fluid">
      </figure>
      <figure class="col-xl-3 col-lg-3 col-md-4 col-sm-6"><img src="./assets/img/fotos/foto3.jpg" alt="" class="img-fluid">
      </figure>
      <figure class="col-xl-3 col-lg-3 col-md-4 col-sm-6"><img src="./assets/img/fotos/foto4.jpg" alt="" class="img-fluid">
      </figure>
    </div>
  </div>
</section>
