<section id="boxinfo">
  <div class="container">
    <div class="row">
       <div class="row justify-content-between">
        <div class="col-4">
          <div class="col-12" id="caja">
            <i class="fas fa-american-sign-language-interpreting"></i>
            <h3>Búsqueda de pareja inteligente</h3>
            <div class="divisor"></div>
            <p>Recibe propuestas de contacto relevantes a partir de tu test de personalidad individual.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-12" id="caja">
            <i class="fas fa-user-secret"></i>
            <h3>Discreción y seguridad</h3>
            <div class="divisor"></div>
            <p>Disfruta de propuestas de contacto reales con fotos verificadas individualmente, acorde a los estándares
              más altos en protección de datos.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="col-12" id="caja">
            <i class="far fa-smile-beam"></i>
            <h3>Solteros/as educados</h3>
            <div class="divisor"></div>
            <p>Enamórate: conoce gente soltera, auténtica y educada</p>
          </div>
        </div>
      </div>
     </div>
    </div>
 </section> 
