     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">


           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">New message</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>

           <div class="modal-body">
             <form>
               <div class="form-group">
                 <label for="exampleFormControlInput1">Tu correo electrónico:</label>
                 <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
               </div>
               <div class="form-group">
                 <label for="exampleFormControlSelect1">Estado Civil:</label>
                 <select multiple class="form-control" id="exampleFormControlSelect2" size="2">
                   <option>Solter@</option>
                   <option>Casad@</option>
                 </select>
               </div>

               <div class="form-group">
                 <label for="exampleFormControlSelect2">Interesado en:</label>
                 <select multiple class="form-control" id="exampleFormControlSelect2" size="3">
                   <option>Mujeres</option>
                   <option>Hombres</option>
                   <option>Ambos</option>
                 </select>
               </div>


               <div class="form-group">
                 <label for="message-text" class="col-form-label">Mensaje:</label>
                 <textarea class="form-control" id="message-text"></textarea>
               </div>
             </form>
           </div>


           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Send message</button>
           </div>

         </div>
       </div>
     </div>


     <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
       aria-hidden="true">
       <div class="modal-dialog modal-xl">
         <div class="modal-content">
           <section id="precios" class="precios">
             <div class="container">

               <div class="row">
                 <div id="mini-nav">
                   <button type="button" class="btn btn-warning" id="botonColumna"><i
                       class="fas fa-columns"></i></button>
                   <button type="button" class="btn btn-warning" id="botonLista"><i class="fas fa-list"></i></button>
                 </div>
               </div><!-- row -->
               
               <div class="row justify-content-between">
                 <!-- (article.col>h3{Noticia $}+(p>lipsum)*2)*3 -->

                 <article class="col">
                   <h3>Paquete 1</h3>
                   <p>Membresía de 12 meses</p>
                   <p>Recomendaciones garantizadas</p>
                   <p></p>
                   <p></p>
                   <p></p>
                   <h2>S/40.00</h2>

                   <button type="button" class="btn btn-danger">Comprar</button>
                 </article>

                 <article class="col">
                   <h3>Paquete 2</h3>
                   <p>Membresía de 12 meses</p>
                   <p>Recomendaciones garantizadas</p>
                   <p>Servicio personal garantizado</p>
                   <p>Perfil profesionalmente escrito</p>
                   <h2>S/70.00</h2>

                   <button type="button" class="btn btn-danger">Comprar</button>
                 </article>

                 <article class="col">
                   <h3>Paquete 3</h3>
                   <p>Membresía de 12 meses</p>
                   <p>Recomendaciones garantizadas</p>
                   <p>Servicio personal garantizado</p>
                   <p></p>
                   <p></p>
                   <h2>S/50.00</h2>

                   <button type="button" class="btn btn-danger">Comprar</button>
                 </article>


               </div><!-- row -->
             </div><!-- container -->
             
           </section><!-- noticias -->
         </div>
       </div>
     </div>