<section id="location">
  <div class="container">
    <div class="row" id="caja4">
      <div class="col-2"></div>
      <article class="col-4 justify-content-between" id="caja3">
        <h2>Ubicación:</h2>
        <p>Av Street 1021, Miami, 10310 </p>
      </article>
      <div class="col-4 embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56769619.95721123!2d-133.390362715828!3d29.721421198863002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0fb3130c95%3A0x4056b64e9dafc87f!2sLunch%20Dates!5e0!3m2!1ses-419!2suk!4v1579854263206!5m2!1ses-419!2suk"
          frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>